.logo-img {
  width: 50px;
}

.navbar {
  @include custom-styles.element-border(5px, none);
  box-shadow: custom-styles.$container-shadow;
}

.nav-item {
  font-family: custom-styles.$gill-sans;
  font-weight: custom-styles.$bold;
}
