@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// Html element styles
body {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  animation: 1s ease-out 0s 1 slideInFromLeft;
  grid-area: header;
  background-color: custom-styles.$bg-color;
  display: flex;
}

main {
  animation: fadeIn ease-out 1s;
  grid-area: main;
  background-color: custom-styles.$bg-color;
  display: flex;
  flex: 1;
  color: custom-styles.$text-color;
}

footer {
  animation: fadeIn ease-out 1s;
  grid-area: footer;
  @include custom-styles.element-border(5px, none);
  box-shadow: custom-styles.$container-shadow;
}

a h2 {
  cursor: pointer;
}

a:hover {
  text-decoration: none !important;
}

.post-comments:nth-child(odd) {
  align-self: flex-start;
}

.post-comments:nth-child(even) {
  align-self: flex-end;
}
