// Html element styles
body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  grid-area: header;
  background-color: custom-styles.$bg-color;
  display: flex;
}

main {
  grid-area: main;
  background-color: custom-styles.$bg-color;
  display: flex;
  color: custom-styles.$text-color;
}

footer {
  grid-area: footer;
  @include custom-styles.element-border(5px, none);
  box-shadow: custom-styles.$container-shadow;
}

a h2 {
  cursor: pointer;
}

a:hover {
  text-decoration: none !important;
}

.post-comments:nth-child(odd) {
  align-self: flex-start;
}

.post-comments:nth-child(even) {
  align-self: flex-end;
}
